@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

html, body{
	margin: 0;
	padding: 0;
}
body{
	background-color: #FFFFFF;
	font-family: 'sans-serif';
	font-size: 16px;
	color: #0D0000;
}
h1, h2, h3, p{
	margin: 0;
	padding: 0;
}
.wrapper{
	max-width: 1200px;
	max-height: 600px;
	margin: auto;
	display: grid;
	grid-gap: 0;
	grid-template-areas: 
		"content"
    	"content"
    	"sidebar";
}
.content{
	grid-area: content;
	background-color: #D3D3D3;
	margin-top: 0;
	border-radius: 0;
}
.header{
	grid-area: header;
	height: 100px;
	margin-bottom: 20px; 
}
.header h1{
	padding: 22px 0;
	text-align: center;
	font-family: 'Pacifico', cursive;
}
.form{
	box-sizing: border-box;
	margin: 0 2%;
	width: 95%;
	padding: 2.5%;
	background-color: #FFFFFF;
	border: 2px solid #808080;
	border-radius: 7px;
	/*display: none;*/
}
.form .form-row{
	margin-bottom: 1rem;
}
.form .form-row:last-child{
	margin-bottom: 0;
}
.form label{
	display: block;
	margin-bottom: .3rem;
	font-size: 1.2rem;

}
.form input[type="text"]{
	width: 95%;
	padding: 2%;
	font-family: 'sans-serif';
	font-size: 16px;
	border: 1px solid #808080;
	border-radius: 3px;
}
.form textarea{
	width: 95%;
	padding: 2%;
	font-family: 'sans-serif';
	font-size: 16px;
	border: 1px solid #808080;
	border-radius: 3px;
	resize: none;
}
.form button{
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
	border: 1px solid #808080;
	border-radius: 5px;
	transition: .3s box-shadow;
}
.form button:hover{
	box-shadow: 0 0 5px #000000;
	cursor: pointer;
}
#board{
	grid-area: sidebar;
	margin-top: 0;
	padding: 0 10px 10px 10px;
	max-height: 600px;
	background-color: #D3D3D3;
	border-radius: 0;
}
.board-header{
	height: 100px;
}
.board-header h1{
	padding: 22px 0;
	text-align: center;
	font-family: 'Pacifico', cursive;
}
#no-notes {
	font-size: 1.2rem;
	text-align: center;
	display: none;
}
.notes{
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
}
.note{
	width: 91%;
	padding: 4%;
	background-color: #FFFFFF;
	border-radius: 5px;
	margin-bottom: 3px;
	/*border-bottom: 1px solid #808080;*/
}
.note .note-title{
	font-size: 1.2rem;
}
.note .data{
	font-size: .8rem;
	margin-top: 1px;
	margin-bottom: 1rem;
}
.note .note-text{
	text-align: justify;
	line-height: 1.3rem;
	margin-bottom: 1rem;
}
.note .buttons{
	width: 120px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 0 0 auto;
}
.note .buttons .delete{
	padding: 5px 10px;
	border: 1px solid #808080;
	border-radius: 5px;
	transition: .3s box-shadow;

}
.note .buttons .delete:hover{
	box-shadow: 0 0 5px #000000;
	cursor: pointer;
}
.note .buttons .edit{
	padding: 5px 10px;
	border: 1px solid #808080;
	border-radius: 5px;
	transition: .3s box-shadow;

}
.note .buttons .edit:hover{
	box-shadow: 0 0 5px #000000;
	cursor: pointer;
}
@media (min-width: 600px) {
  .wrapper {
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 
      "content  sidebar"
      "content	sidebar"
      "content	sidebar";
  }
  .notes {
	height: 500px;
  }
}

@media (min-width: 800px) {
  .wrapper {
  	grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
	}
   .content{
   	margin-top: 10px;
   	border-radius: 7px;
   }
   .header{
   	margin-bottom: 70px;
   }
   #board{
   	margin-top: 10px;
   	border-radius: 7px;
   	} 
}